.pin-list.container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    break-inside: avoid;
    >.content {
        padding: 1em;
        break-inside: avoid;
        columns: auto 17em;
        column-gap: 1.5em;
    }
}

.pin {
    &.active {
        >.image {
            .hover {
                display: grid;
            }
        }
    }
    transition: .2s opacity ease;
    width: 100%;
    margin-bottom: 1.2em;
    position: relative;
    break-inside: avoid;
    background-color: white;
    >.image {
        position: relative;
        width: 100%;
        border-radius: .7em;
        overflow: hidden;
        overflow: visible;
        >.media {
            width: 100%;
            display: block;
            border-radius: .7em;
        }
        >.hover {
            padding: .7em;
            text-align: right;
            display: none;
            grid-template: auto 1fr auto / 1fr;
            flex-flow: column;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            cursor: pointer;
            background-color: rgba(0,0,0,.27);
            border-radius: 0.7em;
            >.control.top {
                grid-area: 1 / 1 / 1 / 1;
            }
            >.control.bottom {
                grid-area: 3 / 1 / span 1 / 1;
                display: flex;
                justify-content: flex-end;
                >.label {
                    text-align: left;
                    padding: .5em;
                    font-weight: 600;
                    line-height: 1;
                    background-color: rgba(255,255,255,.8);
                    &.labeled {
                        margin-right: .5em;
                        border-radius: 2em;
                        display: flex;
                        align-items: center;
                        >.nowrap {
                            flex-grow: 1;
                            height: 100%;
                            overflow: hidden;
                            white-space: nowrap;
                            position: relative;
                            >span {
                                position: absolute;
                                width: 100%;
                                display: inline-block;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                    &.icon {
                        position: relative;
                        border-radius: 50%;
                        width: 2em;
                        height: 2em;
                        >i {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            margin: 0;
                            font-size: 1.1em;
                        }
                    }
                    &.link {
                        flex-grow: 1;
                    }
                    &:hover {
                        background-color: white;
                        cursor: pointer;
                    }
                    +.label {
                        margin-left: .6em;
                    }
                }
            }
        }
        &:hover {
            .hover {
                display: grid;
            }
        }
    }
    >.author {
        z-index: 10;
        &:hover {
            cursor: pointer;
            .name {
                opacity: 1;
                text-decoration: underline;
            }
        }
        margin-top: .7em;
        display: flex;
        align-items: center;
        >.avatar {
            position: relative;
            width: 2.7em;
            height: 2.7em;
            margin-right: .7em;
            border-radius: 50%;
            overflow: hidden;
            >img {
                width: 100%;
            }
        }
        >.name {
            font-style: italic;
            color: rgba(0,0,0,.87);
            opacity: .8;
        }
    }
    .context.menu {
        min-width: 210px;
        background-color: white;
        box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
        border: 1px solid rgba(34,36,38,.15);
    }
    &.user-pin {
        padding: .7em;
        border-radius: .7em;
        text-align: center;
        >.collage {
            border-radius: .7em;
            display: grid;
            grid-template: 1fr / 50% 50%;
            grid-column-gap: 2px;
            overflow: hidden;
            >.image {
                overflow: hidden;
                height: 12em;
                &:first-child {
                    grid-area: 1 / 1 / 1 / 1;
                }
                &:last-child {
                    grid-area: 1 / 2 / 1 / span 1;
                }
                background-color: rgba(0, 0, 0, .27);
            }
        }
        >.avatar {
            overflow: hidden;
            border-radius: 50%;
            width: 6em;
            height: 6em;
            border: 2px solid white;
            margin: 0 auto;
            transform: translateY(-50%);
        }
        >.user {
            margin-top: -1.6em;
            font-weight: 700;
            font-size: 1.7em;
        }
        >.subscribers {
            margin: .5em 0 .5em 0;
            font-size: .9em;
            font-style: italic;
            color: rgba(0, 0, 0, 0.67);
        }
        >.button {
            font-size: 1.2em;
        }
        &:hover {
            cursor: pointer;
            background-color: rgb(239, 239, 239);
        }
    }
}