.user-profile {
    background-color: white;
    cursor: default;
    text-align: left;
    z-index: 10;
    font-family: sans-serif;
    display: inline-block;
    padding: 1em;
    border-radius: .4em;
    border: 1px solid rgba(34,36,38,.15);
    min-width: 350px;
    >.header {
        font-size: 1.3em;
        .bio {
            font-style: italic;
            font-size: .8em !important;
        }
    }
    >.ratio {
        height: 0;
        text-align: right;
        >i {
            margin: 0;
        }
    }
    >.menu {
        border-top: 1px solid rgba(34, 36, 38, 0.15);
        margin-top: .5em;
        padding-top: .5em;
        >.item {
            display: flex;
            align-items: center;
            font-weight: 700;
            >i {
                font-size: 1.4em;
                margin-right: .4em;
            }
        }
    }
}

.my-pins.segment {
    width: 90vw;
    height: 90vh;
    display: grid;
    grid-template: min-content 1fr / 1fr;
    >.header {
        grid-area: 1 / 1 / 1 / 1;
        font-size: 1.3em;
        border-bottom: 1px solid rgba(34,36,38,.15);
        padding-bottom: 0.5em;
        margin-bottom: .7em;
    }
    >.list {
        position: relative;
        height: 100%;
        grid-area: 2 / 1 / span 1 / 1;
        >.pin-list.container > div {
            padding: 0 1em;
        }
    }
}